/Temp
/App/Origami/bin
/App/Origami/obj
/App/GeneratedProjects/UWP/Assembly-CSharp/bin
/App/GeneratedProjects/UWP/Assembly-CSharp/obj
/App/GeneratedProjects/UWP/Assembly-CSharp-firstpass/obj
/App/GeneratedProjects/UWP/Assembly-CSharp-firstpass/bin
